@charset "ISO-8859-1";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: url('https://i.stack.imgur.com/zGR9G.jpg') no-repeat center
		center fixed;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.overlay {
	background: rgba(255, 255, 255, 0.8);
	background-color: aliceblue;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
	color: #333;
	font-size: 48px; /* Increased font size */
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	margin: 10px;
	text-decoration: none;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #0056b3;
}